body {
    background: #1c1c1c;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
}

ol {
    margin: 20px 5px;
    position: static;
}

li {
    margin: 10px 0;
}

a {
    color: white;
}